
.brands_card_wrapper{
    margin-top: 773px;
}

.b_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 135px;
}

.b_card{
    display: flex;
    gap: 26px;
    padding: 46px 41px;
    background: #f6f6f6;
    border-radius: 22px;
}


.b_card img{
    transition: .4s;
}

.b_card img:hover{
    scale: 1.05;
}

.b_c_context{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b_desc{
    font-weight: 500;
    font-size: 16px;
    color: #8b8e99;
    margin-top: 9px;
}