
.last_card_wrapper{
    background: #f6f6f6;
    border-radius: 22px;
}

.last_card{
    padding: 43px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 12px;
}

.last_spoiler{
    font-weight: 500;
    font-size: 16px;
    color: #8b8e99;
    margin-bottom: 12px;
}

.last_img img{
    transition: .4s;
}

.last_img img:hover{
    scale: 1.05;
}